<h1>検索結果</h1>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
			<th>Tag</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<% @books.each do |book| %>

	<tbody>
		<tr>
			<td>
				<%= link_to attachment_image_tag(book.user, :profile_image, :fill, 60,60, class: "attachment user profile_image fallback", fallback: "no_image.jpg", size:'60x60'),user_path(book.user_id) %>
			</td>
			<td><%= link_to book.title, book_path(book) %></td>
			<td><%= book.body %></td>
			<td><%= book.tag_list.map { |tag| "##{tag}" }.join(' ') %></td>
		</tr>
	</tbody>

	<% end %>

</table>